@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.btn{
  background-color: #e6e6e6;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #bbbbbb;
  margin: 20px 0;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #4572ad;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

.sidebar-header {
  padding: 20px;
  margin: 30px 0px 20px;
}

.sidebar-header img{
    max-width: 150px;
    max-height: 150px;
}

#sidebar ul li a {
  padding: 10px 20px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #4572ad;
  background: #fff;
}

#content {
  width: calc(100% - 250px);
  padding: 10px 30px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

footer p{
  color: #668ab9;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
  p{
    font-size: 14px;
  }
}
